<div class="faq-header container">
    <%= link_to root_path do %>
    <div class="yellow-button-homepage jump row" style="margin-top: 10vh">
        <p>homepage</p>
        <div class="btn-icon"><%= image_tag "Icon-left.svg", height: 30, width: 30, overflow: :hidden %> </div> 
    </div> 
    <%end %>
    <div class="row">
        <h1>frequently asked questions</h1><span>
        <h1 style ="color:#F71167;">student application</h1><span>
        <h4>thanks for your interest in studying with us at #THEWRD!</h4>
    </div>
    <div class="block1"> <%= image_tag "Group1.svg", height: 200, width: 200, overflow: :hidden %> </div>
</div>
<div class="faq-info container-fluid">
    <h4 style="color: white;">We very much look forward to welcoming your application as soon as the courses go live. And, in the meantime, we would love to give you some info on how you will be able to apply, interview and receive course offers. 
    We will also provide you with some great blogs and additional resources to get you started!
    And, of course, you can always check out some of the tips, tricks and insight from industry leaders at www.sharethewrd.com - we are adding new interviews all the time!</h4>
</div>
<div class="container">
    <div class="row">
        <div style="display:flex;">
            <div><%= image_tag "read_red.svg", height: 100, width: 100, overflow: :hidden %> </div>
            <div><%= image_tag "watch_red.svg", height: 100, width: 100, overflow: :hidden %> </div>
            <div><%= image_tag "listen_red.svg", height: 100, width: 100, overflow: :hidden %> </div>
        </div>
       <h1>here are some resources to get you started</h1>
    </div>
    <div class="row">
        <div class="unit-card col-sm-12 col-md-6 col-lg-4"></div>
        <div class="unit-card col-sm-12 col-md-6 col-lg-4"></div>
        <div class="unit-card col-sm-12 col-md-6 col-lg-4"></div>
        <div class="unit-card col-sm-12 col-md-6 col-lg-4"></div>
        <div class="unit-card col-sm-12 col-md-6 col-lg-4"></div>
        <div class="unit-card col-sm-12 col-md-6 col-lg-4"></div>
        <div class="unit-card col-sm-12 col-md-6 col-lg-4"></div>
        <div class="unit-card col-sm-12 col-md-6 col-lg-4"></div>
        <div class="unit-card col-sm-12 col-md-6 col-lg-4"></div>
    </div>
</div>
<div class="container">
    <div class="header-info row" style="text-align: left; padding:32px 0 32px 0px; align-items: center; ">
        <div style="display:flex; flex-direction: column;"> <%= image_tag "Shape.svg", height: 100, width: 100, overflow: :hidden %> </div>
        <h1>FAQs on the application process…</h1>
    </div>
    <div class="row">
        <div class="faq-question-top col-sm-12 col-md-6 col-lg-6">
            <p>How do I apply?</p>
            <div><%= image_tag "Path.svg"%> </div> 
        </div>
        <div class="faq-question-top col-sm-12 col-md-6 col-lg-6">
            <p>How do I apply?</p>
            <div><%= image_tag "Path.svg"%> </div> 
        </div>
        <div class="faq-question col-sm-12 col-md-6 col-lg-6">
            <p>Do I need to have any qualifications to apply?</p>
            <div><%= image_tag "Path.svg"%> </div> 
        </div>
        <div class="faq-question col-sm-12 col-md-6 col-lg-6">
            <p>Will there be any deadlines for an application?</p>
            <div><%= image_tag "Path.svg"%> </div> 
        </div>
        <div class="faq-question col-sm-12 col-md-6 col-lg-6">
            <p>Can I get someone else to apply for the course for me?</p>
            <div><%= image_tag "Path.svg"%> </div> 
        </div>
        <div class="faq-question col-sm-12 col-md-6 col-lg-6">
            <p>How will #THEWRD conduct interviews for course entry?</p>
            <div><%= image_tag "Path.svg"%> </div> 
        </div>
        <div class="faq-question col-sm-12 col-md-6 col-lg-6">
            <p>How do I apply?</p>
            <div><%= image_tag "Path.svg"%> </div> 
        </div>
        <div class="faq-question col-sm-12 col-md-6 col-lg-6">
            <p>How do I apply?</p>
            <div><%= image_tag "Path.svg"%> </div> 
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="faq-box" style="background-color: #3E3E3E;">
        <h2>HOW to prepare for the interview...</h2>
    </div>
    <div class="faq-box" style="background-color: #7F7F7F;">
        <h2>WHAT will I be asked during my interview...</h2>
    </div>
    <div class="faq-box" style="background-color: #F9FF00">
        <h2>Still got questions?</h2>
    </div>
</div>
<%= render "shared/webfooter"%>