<%= link_to root_path(anchor: 'sign-up'), data: { turbolinks: false } do %>
<div class="apply-now">
  <p>REGISTER YOUR INTEREST</p>
  <div class="btn-icon"><%= image_tag "Button icon.svg", height: 30, width: 30, overflow: :hidden %></div>
</div>
<%end%>
<div class="header-container container-fluid">
  <div class="container nav-info">
    <div class="navbari row">
      <div><%= image_tag "TheWrdLogo.svg", height: 125, width: 125, overflow: :hidden %></div>
      <div class="links">
        <ul>
          <li style="padding-right: 8px"> <%= link_to "about us", root_path(anchor: 'about'), data: { turbolinks: false }, class: "links" %> </li>
          <li style="padding-left: 8px"> <%= link_to "sign-up", root_path(anchor: 'sign-up'), data: { turbolinks: false }, class: "links" %> </li>
          <li style="padding-left: 16px"> <%= link_to "demo", "http://thewrdtoday.wpcomstaging.com", class: "links" %> </li>
        </ul>
      </div>
    </div>
    <div class="header-info row">
      <h1 style="color: white;margin:0 0"> this is you working with
      <br><span style="color: #49F4F6;margin: 0 0;">Grammy award winners </span></h1>
      <br>
      <h4 style="color: white">build a career in the music business with a<br> level 3 course in Creative Entrepreneurship…</h4>
      <%= link_to root_path(anchor: 'sign-up'), data: { turbolinks: false } do %>
        <div class="yellow-button-header jump">
          <p style="padding-right: 8px text-align: left;">get started today</p>
          <div class="btn-icon"><%= image_tag "Button icon.svg", height: 30, width: 30, overflow: :hidden %></div>
        </div>
      <%end %>
    </div>
  </div>
</div>
<div class="keyword-container container-fluid">
  <div class="row">
  <div class="keyword col-md-12 col-sm-12 col-lg-4" style="background-image: url(assets/SelectOptionsYellowBlock.svg)">
      <div><%= image_tag "BrainBlackIcon.svg", height: 50, width: 50, overflow: :hidden %></div>
      <h1 style ="color:#F71167;">study</h1>
      <h2>with expert tutors</h2>
  </div>
  <div class="keyword col-md-12 col-sm-12 col-lg-4" style = "background-image:url(assets/SelectOptionsBlueBlock1.png)">
      <div><%= image_tag "Union50Icon.svg", height: 55, width: 55, overflow: :hidden %></div>
      <h1 style ="color:#F71167;">connect</h1>
      <h2>with other creatives</h2>
  </div>
  <div class="keyword col-md-12 col-sm-12 col-lg-4" style = "background-image:url(assets/SelectOptionsRedBlock1.png)">
      <div><%= image_tag "Controls50BlackIcon.svg", height: 55, width: 55, overflow: :hidden %></div>
      <h1 style ="color:#49F4F6;">work</h1>
      <h2>with industry heavyweights</h2>
  </div>
</div>
</div>
<div class="pro-container container">
  <div class="intro-info row">
    <div class="logos"><%= image_tag "group.svg", height: 120, width: 120, overflow: :hidden %></div>
    <div>
      <h1>backed by the best in the business</h1>
      <br>
      <p>All of our courses are packed with insight and advice from <br> music industry leaders at the top of their game.</p>
    </div>
  </div>
  <div class="row">

      <div class="pro col-sm-6 col-md-6 col-xs-6 col-lg-3">
        <div class="pro-photo">
          <%= image_tag "JamieHeroImage.png"%>
        </div>
        <div class="pro-text">
          <h4>learn from the writer of the UK’s Most Performed Song 2019, ‘Giant’ by Calvin Harris</h4>
          <h4 style="color:white;">Jamie Hartman on songwriting</h4>
        </div>
      </div>
      <div class="pro col-sm-6 col-md-6 col-xs-6 col-lg-3">
        <div class="pro-photo">
          <%= image_tag "CelesteHeroImage.png"%>
        </div>
        <div class="pro-text">
          <h4>2020 Brit Award Winning artist Celeste shares advice, tips and insight</h4>
          <h4 style="color:white;">Celeste on performance</h4>
        </div>
      </div>
      <div class="pro col-sm-6 col-md-6 col-xs-6 col-lg-3">
        <div class="pro-photo">
          <%= image_tag "PaulHeroImage-2-1.png"%>
        </div>
        <div class="pro-text">
          <h4>go behind the scenes with 6 x Grammy Award winning record producer</h4>
          <h4 style="color:white;">Paul Epworth on record production</h4>
        </div>
      </div>
      <div class="pro col-sm-6 col-md-6 col-xs-6 col-lg-3">
        <div class="pro-photo">
          <%= image_tag "GolnarHeroImage.png"%>
        </div>
          <div class="pro-text">
            <h4>hear from CEO of Reservoir, UK Independent Publisher of the Year 2020</h4>
            <h4 style="color:white;">Golnar Khosrowshahi on publishing</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="why-learn-container container">
      <div id ="about" class="intro-info row">
        <div class="logos" style="margin-bottom: 16px;"><%= image_tag "starsandcrosssvg.svg", height: 120, width: 120, overflow: :hidden %></div>
        <h1>why learn with #theWRD?</h1>
        <br>
        <p>#TheWrd is new school. We bring together expert educators, creative industry big hitters and deep-learning AI, <br> to give all students the capabilities, qualifications and connections needed to pursue their preferred path in the <br> music industry – whether that’s skilled employment, further study or a higher apprenticeship.</p>
      </div>
      <div class="row">
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "icon_no_funded_red.svg"%></div>
          <p>funded (subject to eligibility)</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "icon_world_red.svg" %></div>
          <p>be part of a diverse community and start building your network</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "icon_24_7_red.svg"%></div>
          <p>study online from anywhere with 24/7 personalised support</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "icon_skills_red-1.svg" %></div>
          <p>gain skills that are in-demand now and in the future</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "icon_work_red.svg"%></div>
          <p>unrivalled career opportunities: learn directly from the industry to get truly job-ready</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "icon_groupwork_red-2.svg" %></div>
          <p>face-to-face mentorship and group work at grassroots music venues nationwide</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "objectivered.svg", height: 60, length: 60%></div>
          <p>micro blocks of cutting-edge content make any learning goal achievable</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "icon_explore_red.svg" %></div>
          <p>freedom to explore your interests and discover your strengths</p>
        </div>
      </div>
    </div>
<div class="level-container container-fluid">
  <div class="level-info row">
    <h1 style="color:black">level up your skills
    <br>level up your connections
    <br>level up your opportunities</h1>
  </div>
</div>
<div class="container">
  <div class="intro-info row">
    <div class="logos"><%= image_tag "uilswatchbook.svg", height: 120, width: 120, overflow: :hidden %></div>
      <h1>we’ve got the qualification to suit you</h1>
      <br>
      <p>Explore the options below to find your best route</p>
  </div>
  <div class="row">
     <div class="unit-card col-sm-12 col-md-6 col-lg-4">
      <%= image_tag "A2HEBlock-1.png"%>
      <%= image_tag "A2HEBlockHover-1.png", class:"hover-yellow"%>
      <p class="unit-text" style="text-align: left;">access to higher education</p>
      <div class="unit-text-hover">
        <ul>
          <li>19+ year olds</li>
          <li>similar to 3 A-levels</li>
          <li>university recognised</li>
          <li>full access to all content, connections and opportunities</li>
        </ul>
      </div>
    </div>
     <div class="unit-card col-sm-12 col-md-6 col-lg-4">
      <%= image_tag "CourseInfoBlock6.png"%>
      <%= image_tag "CourseInfoBlock2hover.png", class:"hover-yellow"%>
      <p class="unit-text color-hover">extended diploma</p>

      <div class="unit-text-hover">
        <ul>
          <li>everything the diploma offers, plus...</li>
          <li>full access to all our units, content, resources, events, industry connections and career opportunities throughout the UK</li>
        </ul>
      </div>
    </div>
     <div class="unit-card col-sm-12 col-md-6 col-lg-4">
      <%= image_tag "CourseInfoBlock7.png"%>
      <%= image_tag "CourseInfoBlock3hover.png", class:"hover-yellow"%>
      <p class="unit-text">diploma</p>
      <div class="unit-text-hover">
        <ul>
          <li>everything the certificate offers, plus...</li>
          <li>advanced units on specialist subjects, such as record label management, music for games, festival management, contract law and many more</li>
        </ul>
      </div>
    </div>
     <div class="unit-card col-sm-12 col-md-6 col-lg-4">
      <%= image_tag "CourseInfoBlock2.png"%>
      <%= image_tag "A2HEBlockHover-1.png", class:"hover-yellow"%>
      <p class="unit-text">certificate</p>
      <div class="unit-text-hover">
        <ul>
          <li>everything the award offers, plus...</li>
          <li>optional units on key sectors of the music industry, including recorded music, songs and songwriting, live events and brand, pr and marketing</li>
        </ul>
      </div>
    </div>
    <div class="unit-card col-sm-12 col-md-6 col-lg-4">
      <%= image_tag "CourseInfoBlock9.png"%>
      <%= image_tag "CourseInfoBlock2hover.png", class:"hover-yellow"%>
      <p class="unit-text color-hover">award</p>
      <div class="unit-text-hover">
        <ul>
          <li>16 - 18 year olds</li>
          <li>key skills, knowledge and connections to succeed in the creative industries</li>
          <li>access to exclusive content, resources, events, industry connections and career opportunities</li>
        </ul>
      </div>
    </div>
     <div class="unit-card flip-card col-sm-12 col-md-6 col-lg-4">
        <div class="unit-card-front">
          <%= image_tag "CourseInfoBlock8hover.png"%>
          <h2 class="unit-last">want to know more? </h2>
          <p class="unit-text-last-info">explore all the subjects you can study at #theWRD ></p>
          <div class="more-info-btn"><%= link_to "more info >", unit_path,class: "yellow-button" %></div>
        </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="intro-info row">
    <div class="logos"><%= image_tag "ChatsRedIcon.svg", height: 120, width: 120, overflow: :hidden %></div>
    <h1>#thewrd on the street</h1>
    <br>
    <p>We’re not the only ones excited about the
      <br>power of the new school.</p>
  </div>
    <div class="row">
      <div class="pro col-md-3 col-xs-6 col-6" style="border-right: 0">
        <div class="pro-photo">
          <div class="stud-photo"><%= image_tag "Marcus.png", height: 214, width: 214%></div>
          <div class="img-overlay"><%= image_tag "Blocks300Overlay1.svg"%></div>
        </div>
        <div class="pro-text" style="height: 220px">
          <h4>really cool gateway</h4>
          <h4 style="color:white;">Marcus Robinson<br>digital marketing coordinator</h4>
        </div>
      </div>
      <div class="pro col-md-3 col-xs-6 col-6" style="border-right: 0">
        <div class="pro-photo">
          <div class="stud-photo"><%= image_tag "Ellie.png", height: 214, width: 214 %></div>
          <div class="img-overlay"><%= image_tag "Blocks300Overlay2.svg"%></div>
        </div>
        <div class="pro-text" style="height: 220px">
          <h4>great bunch of lecturers</h4>
          <h4 style="color:white;">Ellie Best<br>promotions coordinator</h4>
        </div>
      </div>
      <div class="pro col-md-3 col-xs-6 col-6" style="border-right: 0">
        <div class="pro-photo">
          <div class="stud-photo"><%= image_tag "Brendan.png", height: 214, width: 214 %></div>
          <div class="img-overlay"><%= image_tag "Blocks300Overlay3.svg"%></div>
        </div>
        <div class="pro-text" style="height: 220px">
          <h4>involved at every level</h4>
          <h4 style="color:white;">Brendan Walsh<br>international music marketeer</h4>
        </div>
      </div>
      <div class="pro col-md-3 col-xs-6 col-6" style="border-right: 0">
        <div class="pro-photo">
          <div class="stud-photo"><%= image_tag "Ana.png",  height: 214, width: 214 %></div>
          <div class="img-overlay"><%= image_tag "Blocks300Overlay4.svg"%></div>
        </div>
          <div class="pro-text" style="height: 220px">
            <h4>got my first big break</h4>
            <h4 style="color:white;">Ana Marques<br>executive assistant</h4>
          </div>
        </div>
      </div>
</div>
<div class="container">
  <div class="intro-info row">
    <div class="logos"><%= image_tag "icon_select_red.svg", height: 120, width: 120, overflow: :hidden %></div>
      <h1>it's easy to get involved</h1>
      <br>
      <p>There are just 3 blocks between you and the <br> music industry career you dream of.</p>
  </div>
</div>
  <div class="container-fluid choices-container">
    <div class="row">
    <div class="choices col-md-4 col-sm-12" style="background-image: url(assets/SelectOptionsYellowBlock.svg);">
        <p>step 1</p>
        <h1 style ="color:#F71167;">choose a qualification</h1><br>
        <p>You can study for an Award (complimentary qualification), Certificate (similar to one AS level), Diploma (similar to 2 A-levels), or Extended Diploma (similar to 3 A-levels).</p>
    </div>
    <div class="choices col-md-4 col-sm-12" style = "background-image:url(assets/SelectOptionsBlueBlock.svg)">
        <p>step 2</p>
        <h1 style ="color:#F71167;">choose your core topics</h1><br>
        <p>Pick two core topics as your learning foundations. If you choose to do a diploma or extended diploma, you get to study all the core topics (we’re nice like that).</p>
    </div>
    <div class="choices col-md-4 col-sm-12" style = "background-image:url(assets/SelectOptionsRedBlock.svg)">
        <p>step 3</p>
        <h1 style ="color:#49F4F6;">choose your optional topics</h1><br>
        <p>This block’s exciting. Time to choose your path with heart and start building towards that dream career.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="intro-info row" style="margin-bottom: 0">
    <div class="logos"><%= image_tag "ascendingblocksred.svg", height: 120, width: 120, overflow: :hidden %></div>
      <h1 style="color: #F71167 ">start building your future now</h1>
      <p>Make your selections below to get started with #TheWrd. <br> We’ll get back to you with more info including course availability in your area.</p>
  </div>
  <div id="sign-up" class="typeform-widget" data-url="https://form.typeform.com/to/F57a752U?typeform-medium=embed-snippet" style="width: 80%; height: 100vh;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
</div>
<%= render "shared/webfooter"%>





















