<div class="header-container container-fluid">
    <div class="navbar row">
      <div><%= image_tag "TheWrdLogo.svg", height: 140, width: 140, overflow: :hidden %></div>
      <div class="links">
        <ul>
          <li> <%= link_to "about", root_path(anchor: 'about'),class: "links" %> </li>
          <li> <%= link_to "sign-up", root_path(anchor: 'sign-up'), class: "links" %> </li>
        </ul>
      </div>
    </div>
    <div class="header-info row">
      <h1 style="color: white"> this is you working with</h1>
      <h1 style="color: #49F4F6;">Grammy award winners </h1>
      <h2 style="color: white">build a career in the music business with an</h2>
      <h2 style="color: white">a-level equivalent course… </h2>
      <%= link_to "get started today", root_path(anchor: 'sign-up'),class: "yellow-button" %>
    </div>
</div>
<div class="keyword-container row">
  <div class="keyword col-md-4 col-sm-12" style="background-image: url(assets/SelectOptionsYellowBlock.svg)">
      <div><%= image_tag "BrainBlackIcon.svg", height: 60, width: 60, overflow: :hidden %></div>
      <h1 style ="color:#F71167;">study</h1>
      <h2>with expert tutors</h2>
  </div>
  <div class="keyword col-md-4 col-sm-12" style = "background-image:url(assets/SelectOptionsBlueBlock.svg)">
      <div><%= image_tag "Union50Icon.svg", height: 60, width: 60, overflow: :hidden %></div>
      <h1 style ="color:#F71167;">connect</h1>
      <h2>with other creatives</h2>
  </div>
  <div class="keyword col-md-4 col-sm-12" style = "background-image:url(assets/SelectOptionsRedBlock.svg)">
      <div><%= image_tag "Controls50BlackIcon.svg", height: 60, width: 60, overflow: :hidden %></div>
      <h1 style ="color:#49F4F6;">work</h1>
      <h2>with industry heavyweights</h2>
  </div>
</div>
<div class="container">
  <div class="intro-info row">
    <div class="logos"><%= image_tag "group.svg", height: 150, width: 150, overflow: :hidden %></div>
    <div>
      <h1>backed by the best in the business</h1>
      <p>All of our courses are packed with insight and advice from music industry leaders at the top of their game.</p>
    </div>
  </div>
  <div class="row">

      <div class="pro col-md-3 col-xs-6">
        <div class="pro-photo">
          <%= image_tag "JamieHeroImage.png", height: 430, width: 243%>
        </div>
        <div class="pro-text">
          <h4>learn from the writer of the UK’s Most Performed Song 2019, ‘Giant’ by Calvin Harris</h4>
          <h4 style="color:white;">Jamie Hartman on songwriting</h4>
        </div>
      </div>
      <div class="pro col-md-3 col-xs-6">
        <div class="pro-photo">
          <%= image_tag "CelesteHeroImage.png", height: 430, width: 243 %>
        </div>
        <div class="pro-text">
          <h4>2020 Brit Award Winning artist Celeste shares advice, tips and insight</h4>
          <h4 style="color:white;">Celeste on performance</h4>
        </div>
      </div>
      <div class="pro col-md-3 col-xs-6">
        <div class="pro-photo">
          <%= image_tag "PaulHeroImage-2-1.png", height: 430, width: 243 %>
        </div>
        <div class="pro-text">
          <h4>go behind the scenes with 6 x Grammy Award winning record producer</h4>
          <h4 style="color:white;">Paul Epworth on record production</h4>
        </div>
      </div>
      <div class="pro col-md-3 col-xs-6">
        <div class="pro-photo">
          <%= image_tag "GolnarHeroImage.png",  height: 430, width: 243 %>
        </div>
          <div class="pro-text">
            <h4>hear from CEO of Reservoir, UK Independent Publisher of the Year 2020</h4>
            <h4 style="color:white;">Golnar Khosrowshahi on publishing</h4>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div id ="about" class="intro-info row">
        <div class="logos"><%= image_tag "starsandcrosssvg.svg", height: 120, width: 120, overflow: :hidden %></div>
        <h1>why learn with #theWRD?</h1>
        <p>#TheWrd is new school. We bring together expert educators, creative industry big hitters and deep-learning AI, to give all students the capabilities, qualifications and connections needed to pursue their preferred path in the music industry – whether that’s skilled employment, further study or a higher apprenticeship.</p>
      </div>
      <div class="row">
        <div class= "why-learn col-xs-12 col-md-6">
          <div><%= image_tag "icon_no_funded_red.svg"%></div>
          <p>funded (subject to eligibility)</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div><%= image_tag "icon_24_7_red.svg"%></div>
          <p>study online from anywhere with 24/7 personalised support</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div><%= image_tag "icon_work_red.svg"%></div>
          <p>unrivalled career opportunities: learn directly from the industry to get truly job-ready</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "objectivered.svg", height: 60, length: 60%></div>
          <p>micro blocks of cutting-edge content make any learning goal achievable</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "icon_world_red.svg" %></div>
          <p>be part of a diverse community and start building your network</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "icon_explore_red.svg" %></div>
          <p>freedom to explore your interests and discover your strengths</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "icon_skills_red-1.svg" %></div>
          <p>gain skills that are in-demand now and in the future</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "icon_groupwork_red-2.svg" %></div>
          <p>face-to-face mentorship and group work at grassroots music venues nationwide</p>
        </div>
      </div>
    </div>
<div class="level-container">
  <div class="header-info">
    <h1 style="color:black">level up your skills</h1>
    <h1 style="color:black">level up your connections</h1>
    <h1 style="color:black">level up your opportunities</h1>
  </div>
</div>
<div class="container">
  <div class="intro-info row">
    <div class="logos"><%= image_tag "uilswatchbook.svg", height: 120, width: 120, overflow: :hidden %></div>
    <h1>we’ve got the qualification to suit you</h1>
    <h5>Explore the options below to find your best route</h5>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <%= image_tag "CourseInfoBlock9"%>
      <p>Award</p>
    </div>
     <div class="col-sm-12 col-md-4">
      <%= image_tag "CourseInfoBlock2"%>
      <p>Award</p>
    </div>
     <div class="col-sm-12 col-md-4">
      <%= image_tag "CourseInfoBlock7"%>
      <p>Award</p>
    </div>
     <div class="col-sm-12 col-md-4">
      <%= image_tag "CourseInfoBlock6"%>
      <p>Award</p>
    </div>
     <div class="col-sm-12 col-md-4">
      <%= image_tag "A2HEBlock-1"%>
      <p>Award</p>
    </div>
     <div class="col-sm-12 col-md-4">
      <%= image_tag "CourseInfoBlock8hover"%>
      <p>Award</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="intro-info row">
    <div class="logos"><%= image_tag "ChatsRedIcon.svg", height: 120, width: 120, overflow: :hidden %></div>
    <h1>#thewrd on the street</h1>
    <h5>We’re not the only ones excited about the</h5>
      <h5>power of the new school.</h5>
  </div>
    <div class="row">

      <div class="student col-md-3 col-xs-6">
        <div class="student-photo">
          <%= image_tag "Marcus.png", height: 214, width: 214%>
        </div>
        <div class="student-text">
          <h4>really cool gateway</h4>
          <h4 style="color:white;">Marcus Robinson digital marketing coordinator</h4>
        </div>
      </div>
      <div class="student col-md-3 col-xs-6">
        <div class="student-photo">
          <%= image_tag "Ellie.png", height: 214, width: 214 %>
        </div>
        <div class="student-text">
          <h4>great bunch of lecturers</h4>
          <h4 style="color:white;">Ellie Best promotions coordinator</h4>
        </div>
      </div>
      <div class="student col-md-3 col-xs-6">
        <div class="student-photo">
          <%= image_tag "Brendan.png", height: 214, width: 214 %>
        </div>
        <div class="student-text">
          <h4>involved at every level</h4>
          <h4 style="color:white;">Brendan Walsh international music marketeer</h4>
        </div>
      </div>
      <div class="student col-md-3 col-xs-6">
        <div class="student-photo">
          <%= image_tag "Ana.png",  height: 214, width: 214 %>
        </div>
          <div class="student-text">
            <h4>got my first big break</h4>
            <h4 style="color:white;">Ana Marques executive assistant</h4>
          </div>
        </div>
      </div>

</div>
<div class="container">
  <div class="intro-info row">
    <div class="logos"><%= image_tag "icon_select_red.svg", height: 120, width: 120, overflow: :hidden %></div>
    <h1>it's easy to get involved</h1>
    <p>There are just 3 blocks between you and the</p>
    <p>music industry career you dream of.</p>
  </div>
</div>
  <div class="row choices-container">
  <div class="keyword col-md-4 col-sm-12" style="background-image: url(assets/SelectOptionsYellowBlock.svg)">
      <p>step 1</p>
      <h1 style ="color:#F71167;">choose a qualification</h1>
      <p>You can study for an Award (complimentary qualification), Certificate (similar to one AS level), Diploma (similar to 2 A-levels), or Extended Diploma (similar to 3 A-levels).</p>
  </div>
  <div class="keyword col-md-4 col-sm-12" style = "background-image:url(assets/SelectOptionsBlueBlock.svg)">
      <p>step 2</p>
      <h1 style ="color:#F71167;">choose your core topics</h1>
      <p>Pick two core topics as your learning foundations. If you choose to do a diploma or extended diploma, you get to study all the core topics (we’re nice like that).</p>
  </div>
  <div class="keyword col-md-4 col-sm-12" style = "background-image:url(assets/SelectOptionsRedBlock.svg)">
      <p>step 3</p>
      <h1 style ="color:#49F4F6;">choose your optional topics</h1>
      <p>This block’s exciting. Time to choose your path with heart and start building towards that dream career. this i</p>
  </div>
</div>
<div class="container">
  <div class="intro-info row">
    <div class="logos"><%= image_tag "ascendingblocksred.svg", height: 120, width: 120, overflow: :hidden %></div>
    <h1>start building your future now</h1>
    <p>Make your selections below to get started with #TheWrd.</p>
    <p>We’ll get back to you with more info including course availability in your area.</p>
  </div>
</div>
 <div id="sign-up" class="typeform-widget" data-url="https://form.typeform.com/to/F57a752U?typeform-medium=embed-snippet" style="width: 80%; height: 60vh;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
<div class="webfooter">
  <div><%= image_tag "TheWrdLogo.svg", height: 140, width: 140, overflow: :hidden %></div>
  <p>about</p>
  <p>©<%=Date.current.year%> #TheWRD. All rights reserved.</p>
  </div>
  <!-- <iframe class="chatbot" src="https://webchat.botframework.com/embed/thewrdfaq-bot?s=W1llJkCPOLA.tcKomab4x4_hSkmvFCa4fTsbiKaKtziQippZCR7SpAI"  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>





















