<div class="header-container">
    <div class="navbar">
      <div><%= image_tag "TheWrdLogo.svg", height: 140, width: 140, overflow: :hidden %></div>
      <div class="links">
        <ul>
          <li> About </li>
          <li> Sign Up </li>
        </ul>
      </div>
    </div>
    <div class="header-info">
      <h1> this is you working with</h1><span>
      <h1 style="color: #49F4F6;">Grammy award winners </h1></span>
      <h2 style="color: white"> build a career in the music business with an a-level equivalent course… </h2>
    </div>
</div>
<div class="keyword-container">
  <div class="keyword" style="background-image: url(assets/SelectOptionsYellowBlock.svg)">
      <div><%= image_tag "BrainBlackIcon.svg", height: 60, width: 60, overflow: :hidden %></div>
      <h1 style ="color:#F71167;">study</h1>
      <h2>with expert tutors</h2>
  </div>
  <div class="keyword" style = "background-image:url(assets/SelectOptionsBlueBlock.svg)">
      <div><%= image_tag "Union50Icon.svg", height: 60, width: 60, overflow: :hidden %></div>
      <h1 style ="color:#F71167;">connect</h1>
      <h2>with other creatives</h2>
  </div>
  <div class="keyword" style = "background-image:url(assets/SelectOptionsRedBlock.svg)">
      <div><%= image_tag "Controls50BlackIcon.svg", height: 60, width: 60, overflow: :hidden %></div>
      <h1 style ="color:#49F4F6;">work</h1>
      <h2>with industry heavyweights</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div><%= image_tag "group.svg", height: 100, width: 100, overflow: :hidden %></div>
    <div>
      <h2>backed by the best in the business</h2>
      <p>All of our courses are packed with insight and advice from music industry leaders at the top of their game.</p>
    </div>
  </div>
  <div class="row">

      <div class="pro col-md-3 col-xs-6">
        <div class="pro-photo">
          <%= image_tag "JamieHeroImage.png"%>
        </div>
        <div class="pro-text">
          <h4>learn from the writer of the UK’s Most Performed Song 2019, ‘Giant’ by Calvin Harris</h4>
          <h4 style="color:white;">Jamie Hartman on songwriting</h4>
        </div>
      </div>
      <div class="pro col-md-3 col-xs-6">
        <div class="pro-photo">
          <%= image_tag "CelesteHeroImage.png" %>
        </div>
        <div class="pro-text">
          <h4>2020 Brit Award Winning artist Celeste shares advice, tips and insight</h4>
          <h4 style="color:white;">Celeste on performance</h4>
        </div>
      </div>
      <div class="pro col-md-3 col-xs-6">
        <div class="pro-photo">
          <%= image_tag "PaulHeroImage-2-1.png" %>
        </div>
        <div class="pro-text">
          <h4>go behind the scenes with 6 x Grammy Award winning record producer</h4>
          <h4 style="color:white;">Paul Epworth on record production</h4>
        </div>
      </div>
      <div class="pro col-md-3 col-xs-6">
        <div class="pro-photo">
          <%= image_tag "GolnarHeroImage.png" %>
        </div>
          <div class="pro-text">
            <h4>hear from CEO of Reservoir, UK Independent Publisher of the Year 2020</h4>
            <h4 style="color:white;">Golnar Khosrowshahi on publishing</h4>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div><%= image_tag "starsandcrosssvg.svg", height: 100, width: 100, overflow: :hidden %></div>
        <h4>why learn with #theWRD?</h4>
        <h5>#TheWrd is new school. We bring together expert educators, creative industry big hitters and deep-learning AI, to give all students the capabilities, qualifications and connections needed to pursue their preferred path in the music industry – whether that’s skilled employment, further study or a higher apprenticeship.</h5>
      </div>
      <div class="row">
        <div class= "why-learn col-xs-12 col-md-6">
          <div><%= image_tag "icon_no_funded_red.svg"%></div>
          <p>funded (subject to eligibility)</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div><%= image_tag "icon_24_7_red.svg"%></div>
          <p>study online from anywhere with 24/7 personalised support</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div><%= image_tag "icon_work_red.svg"%></div>
          <p>unrivalled career opportunities: learn directly from the industry to get truly job-ready</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "objectivered.svg", height: 60, length: 60%></div>
          <p>micro blocks of cutting-edge content make any learning goal achievable</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "icon_world_red.svg" %></div>
          <p>be part of a diverse community and start building your network</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "icon_explore_red.svg" %></div>
          <p>freedom to explore your interests and discover your strengths</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "icon_skills_red-1.svg" %></div>
          <p>gain skills that are in-demand now and in the future</p>
        </div>
        <div class= "why-learn col-xs-12 col-md-6">
          <div class="mini-logo"><%= image_tag "icon_groupwork_red-2.svg" %></div>
          <p>face-to-face mentorship and group work at grassroots music venues nationwide</p>
        </div>
      </div>
    </div>
<div class="level-container">
  <div class="level-info">
    <h1 style="color:black">level up your skills</h1>
    <h1 style="color:black">level up your connections</h1>
    <h1 style="color:black">level up your opportunities</h1>
  </div>
</div>






















