<div class="container policy-container">
  <div class="row header-info" style="text-align: left; padding:32px 0 32px 0px; align-items: center; ">
    <div class="logos"><%= image_tag "PolicyIconRed.svg", height: 150, width: 150, overflow: :hidden %></div>
    <h1>policies and procedures</h1>
    <p>All our policies and procedures are scheduled for review in August 2021.</p>
  </div>
  <div class="policy-cards row">
    <div class="policy-card col-md-3 col-12">
    <%=link_to equal_path,  target: "_blank" do %>
    <%= image_tag "cloud_download.svg", height: 60, width: 60, overflow: :hidden %>
    <p>Equal Opportunities Policy</p>
    <% end %>
    </div>

    <div class="policy-card col-md-3 col-12">
      <%=link_to induction_path,  target: "_blank" do %>
      <%= image_tag "cloud_download.svg", height: 60, width: 60, overflow: :hidden %>
      <p>Induction and Enrolment Policy</p>
      <% end %>
    </div>
    <div class="policy-card col-md-3 col-12">
      <%=link_to registration_path,  target: "_blank" do %>
      <%= image_tag "cloud_download.svg", height: 60, width: 60, overflow: :hidden %>
      <p>Registration and certification Policy</p>
      <% end %>
    </div>
    <div class="policy-card col-md-3 col-12">
      <%=link_to learning_path,  target: "_blank" do %>
      <%= image_tag "cloud_download.svg", height: 60, width: 60, overflow: :hidden %>
      <p>Learning and Teaching Strategy</p>
      <% end %>
    </div>
    <div class="policy-card col-md-3 col-12">
      <%=link_to complaints_path,  target: "_blank" do %>
      <%= image_tag "cloud_download.svg", height: 60, width: 60, overflow: :hidden %>
      <p>Complaints and Appeals Policy</p>
      <% end %>
    </div>
    <div class="policy-card col-md-3 col-12">
      <%=link_to internal_path,  target: "_blank" do %>
      <%= image_tag "cloud_download.svg", height: 60, width: 60, overflow: :hidden %>
      <p>Internal Moderation Policy</p>
      <% end %>
    </div>
    <div class="policy-card col-md-3 col-12">
      <%=link_to academic_path,  target: "_blank" do %>
      <%= image_tag "cloud_download.svg", height: 60, width: 60, overflow: :hidden %>
      <p>Academic Malpractice Policy</p>
      <% end %>
    </div>
    <div class="policy-card col-md-3 col-12">
      <%=link_to conflict_path,  target: "_blank" do %>
      <%= image_tag "cloud_download.svg", height: 60, width: 60, overflow: :hidden %>
      <p>Conflict of Interest Policy</p>
      <% end %>
    </div>
    <div class="policy-card col-md-3 col-12">
      <%=link_to health_path,  target: "_blank" do %>
      <%= image_tag "cloud_download.svg", height: 60, width: 60, overflow: :hidden %>
      <p>Health and Safety Policy</p>
      <% end %>
    </div>
    <div class="policy-card col-md-3 col-12">
      <%=link_to quality_path,  target: "_blank" do %>
      <%= image_tag "cloud_download.svg", height: 60, width: 60, overflow: :hidden %>
      <p>Quality Insurance Policy</p>
      <% end %>
    </div>
    <div class="policy-card col-md-3 col-12">
      <%=link_to verification_path,  target: "_blank" do %>
      <%= image_tag "cloud_download.svg", height: 60, width: 60, overflow: :hidden %>
      <p>Internal Verification Policy</p>
      <% end %>
    </div>
    <div class="policy-card col-md-3 col-12">
      <%=link_to rpl_path,  target: "_blank" do %>
      <%= image_tag "cloud_download.svg", height: 60, width: 60, overflow: :hidden %>
      <p>Recognition of Prior Learning Policy</p>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/webfooter"%>
