<div class="container">
<div style="margin-top: 10vh"><%= link_to "homepage", root_path, class: "yellow-button" %></div>
  <div class="red-heart-container row">

    <div class="logos"><%= image_tag "red_heart_filled.svg", height: 120, width: 120, overflow: :hidden %></div>
    <h1>study subjects you love at #theWRD</h1>
    <p>check out all the units we offer and start building your perfect course today</p>
  </div>
  <div class="row">
    <div class="unit-card col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-39"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-12"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-14"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-11"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-38"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-37"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-32"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-33"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-31"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-36"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-35"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-34"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-30"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-29"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-27"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-26"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-23"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-25"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-24"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-22"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-21"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-18"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "LEVEL_UP_Image4"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-13"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-19"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Music-Tech-Culture"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "MediaComms"%>
      <p>Award</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-20"%>
      <p>Award</p>
    </div>
  </div>
</div>
<%= render "shared/webfooter"%>
