<div class="container">
<div style="margin-top: 10vh"><%= link_to "homepage", root_path, class: "yellow-button" %></div>
  <div class="red-heart-container row">

    <div class="logos"><%= image_tag "red_heart_filled.svg", height: 120, width: 120, overflow: :hidden %></div>
    <h1>study subjects you love at #theWRD</h1>
    <p>check out all the units we offer and start building your perfect course today</p>
  </div>
  <div class="row">
    <div class="unit-card col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-39"%>
      <div class="unit-text-page">
        <h5>writing about music</h5>
        <p>honing your writing skills for limitless possibilities</p>
    </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-12"%>
      <div class="unit-text-page">
        <h5>contemporary label management</h5>
        <p>the shared practices of David and Goliath</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-14"%>
      <div class="unit-text-page">
        <h5>dj skills</h5>
        <p>Calvin Harris, Flava D, Deadmau5...and you? begin the journey to mixing mastery</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-11"%>
      <div class="unit-text-page">
        <h5>brand, marketing and promotions</h5>
        <p>building your brand and getting seen</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-38"%>
      <div class="unit-text-page">
        <h5>wellbeing in music</h5>
        <p>a toolkit for resilience, balance and personal growth</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-37"%>
      <div class="unit-text-page">
        <h5>the world of sync</h5>
        <p>wow, who wrote that? placing music accross madia: tv, film, videogames and advertising</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-32"%>
      <div class="unit-text-page">
        <h5>sustainability in music</h5>
        <p>protecting our planet</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-33"%>
      <div class="unit-text-page">
        <h5>representation in music</h5>
        <p>identity, diversity and the sociology of music</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-31"%>
      <div class="unit-text-page">
        <h5>producing music videos</h5>
        <p>sounds and vision: what you need to know</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-36"%>
      <div class="unit-text-page">
        <h5>the business of genres</h5>
        <p>history 101: from Hip Hop to House and how genres impact culture</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-35"%>
      <div class="unit-text-page">
        <h5>the art of songwriting</h5>
        <p>original expression and exploding your influences</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-34"%>
      <div class="unit-text-page">
        <h5>teaching methods</h5>
        <p>where do ideas come from? tap into the learning potential of the creative arts</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-30"%>
      <div class="unit-text-page">
        <h5>music production</h5>
        <p>audio alchemy: inside the recording studio</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-29"%>
      <div class="unit-text-page">
        <h5>making music available</h5>
        <p>self-releasing and realising DIY dreams</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-27"%>
      <div class="unit-text-page">
        <h5>how touring works</h5>
        <p>logistics and life on the road</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-26"%>
      <div class="unit-text-page">
        <h5>how the music industry works</h5>
        <p>fundamentals and the big picture</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-23"%>
      <div class="unit-text-page">
        <h5>how the live events industry works</h5>
        <p>access all areas: the jobs behind the magic moments</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-25"%>
      <div class="unit-text-page">
        <h5>how the law works</h5>
        <p>the legal and ethical codes critical to success</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-24"%>
      <div class="unit-text-page">
        <h5>how finance works</h5>
        <p>budgeting for success</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-22"%>
      <div class="unit-text-page">
        <h5>how talent management works</h5>
        <p>heart, head and hustle</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-21"%>
      <div class="unit-text-page">
        <h5>how music publishing works</h5>
        <p>who owns the song?</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-18"%>
      <div class="unit-text-page">
        <h5>how festivals work</h5>
        <p>field of dreams from concept to completion</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "LEVEL_UP_Image4"%>
      <div class="unit-text-page">
        <h5>level up</h5>
        <p>self-discovery, soft skills and stepping out</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-13"%>
      <div class="unit-text-page">
        <h5>creative industries project</h5>
        <p>exploring through experience</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-19"%>
         <div class="unit-text-page">
        <h5>entrepreneurship</h5>
        <p>business creativity and making things happen</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Music-Tech-Culture"%>
      <div class="unit-text-page">
        <h5>music tech culture</h5>
        <p>evolution, revolution and the scene today</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "MediaComms"%>
      <div class="unit-text-page">
        <h5>media + comms strategies</h5>
        <p>the digital playbook for social and beyond</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag "Group-5-Copy-20"%>
      <div class="unit-text-page">
        <h5>future trends</h5>
        <p>discover the innovations shaping the world today. tomorrow is up to you</p>
      </div>
    </div>
  </div>
</div>
<%= render "shared/webfooter"%>
